
/0.0.1/camelot_drivers/oauth2/config/Google.php
/0.0.1/camelot_drivers/oauth2/config/Windowslive.php
/0.0.1/camelot_drivers/oauth2/config/Facebook.php
/0.0.1/camelot_drivers/oauth2/config/Foursquare.php
/0.0.1/camelot_drivers/oauth2/config/Github.php
/0.0.1/camelot_drivers/oauth2/config/Youtube.php